body {
    font-family: 'Rethink Sans', sans-serif;
    background-color: #FCFCFC;
}

header {
    background: #1E56CD;
    text-align: center;
    color: #FCFCFC;
    padding: 2rem 1rem;
    margin-bottom: 5rem;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

article {
    margin-bottom: 6rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1E56CD;
    margin-bottom: 1rem;
}

time {
    display: block;
    font-size: 0.9rem;
    color: #494949;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0;
    display: block;
}
 
p {
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 2rem;
    color: #0F1312;
}

a {
    color: #1c408b;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    font-weight: 700;
}